/* Change the background color of the header to white */
    #header, #footer { background: #fff; } 

    .dropdown-menu.profile {
      background: #fff !important;
      color: #000 !important;
    }

    .dropdown-menu.profile * {
      color: #000 !important;
    }
     /* entity form input and select styles */
    form input.form-control,
    form select.form-select {
      border-color: #0d6efd !important;   /* Bootstrap blue */
      color: #0d6efd !important;
      background-color: #eaf4ff !important;
    }

    form input.form-control:focus,
    form select.form-select:focus {
      border-color: #0a58ca !important;
      box-shadow: 0 0 0 0.2rem rgba(13,110,253,.25);
    }

    form textarea.form-control {
      border-color: #0d6efd !important;
      color: #0d6efd !important;
      background-color: #eaf4ff !important;
    }

    form textarea.form-control:focus {
      border-color: #0a58ca !important;
      box-shadow: 0 0 0 0.2rem rgba(13,110,253,.25);
    }
      /* make black color for username and position in profile dropdown */
     .nav-profile .dropdown-toggle,
      .dropdown-menu.profile .dropdown-header h6,
      .dropdown-menu.profile .dropdown-header span {
        color: #000 !important;
      }